@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
    color: white;
    background: black;
}
nav{
    position: fixed;
    background: linear-gradient(to right,#234a91, #912077);
    width: 100%;
    padding: 10px 0;
    z-index: 12;
    box-shadow: 0 5px 10px;
}
nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
}
.menu ul li:first-child{
    margin-left: 0px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    background: #fff;
    color: black;
}
.background{
    background: linear-gradient(to left,#912077, #234a91);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.center{
    position: absolute;
    top: 15%;
    left: 34%;
    display: inline flex;
    text-align: center;
    max-width: 400px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 1px;
    box-shadow: 0 10px 15px;
}
.tab table, tr, td{
    font-weight: 700;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 9px;
    background: #cccc;
}
dt{
    font-weight: 700;
}
.center .btns{
    margin-top: 30px;
}
.btns a{
    background: whitesmoke;
    text-decoration: none;
    color: rgb(90, 140, 247);
    font-size: 15px;
    font-weight: 600;
    padding: 6px 25px;
    border-radius: 20px;
    border: 1px solid rgb(90, 140, 247);
}
.center .btns input{
    height: 35px;
    width: 100px;
    background: rgb(90, 140, 247);
    border-radius: 20px;
    border: none;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.836);
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(90, 140, 247);
    transition: all 0.3s ease;
}
.btns input:hover{
    background: #cccc;
    color: blue;
}
.center .btns a:hover{
    background: white;
    color: blue;
    border-color: red;
    border-block-color: green;
}